* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f0f0f0;
}

.bgpattern1 {
    background: radial-gradient(circle, rgba(0, 21, 112, 0.4) 25%, transparent 26%) 0% 0% / 3em 3em,
                radial-gradient(circle at bottom left, rgba(0, 21, 112, 0.4) 12%, transparent 13%) 0% 0% / 3em 3em,
                radial-gradient(circle at bottom right, rgba(0, 21, 112, 0.4) 12%, transparent 13%) 0% 0% / 3em 3em,
                radial-gradient(circle at top left, rgba(0, 21, 112, 0.4) 12%, transparent 13%) 0% 0% / 3em 3em,
                radial-gradient(circle at top right, rgba(0, 21, 112, 0.4) 12%, transparent 13%) 0% 0% / 3em 3em,
                #F9F9FF;
    background-size: 50px 50px;
    padding: 40px 20px;
}

.bgwhite {
    background-color: white;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bgpattern2 {
    background: url('pattern1.jpg');
    background-size: 50px 50px;
    padding: 40px 20px;
    margin-top: 40px;
}

.bgcolor {
    background-color: rgba(255, 99, 71, 0.8); /* tomato color with opacity */
    color: whitesmoke;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
