* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 18px;
}


.bgpattern1 {
    background: radial-gradient(circle, #001570 25%, transparent 26%) 0% 0% / 3em 3em, radial-gradient(circle at bottom left, #001570 12%, transparent 13%) 0% 0% / 3em 3em, radial-gradient(circle at bottom right, #001570 12%, transparent 13%) 0% 0% / 3em 3em, radial-gradient(circle at top left, #001570 12%, transparent 13%) 0% 0% / 3em 3em, radial-gradient(circle at top right, #001570 12%, transparent 13%) 0% 0% / 3em 3em #F9F9FF;
    opacity: 0.5;
    background-size: 50px 50px;
    padding: 20px;
}

.bgwhite {
    background-color: white;
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    padding: 30px;
    line-height: 1.6;
}

.bgpattern2 {
    background: url(pattern1.jpg);
    background-size: 50px 50px;
    height: 250px;
    padding: 20px;
    margin-bottom: 20px;
}

.bgcolor {
    background-color: tomato;
    opacity: 0.8;
    color: whitesmoke;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 30px;
    line-height: 1.6;
}
