* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* style the container */
.container {
    max-width: 1200px;
    margin: auto;
    position: relative;
    border-radius: 5px;
    background-color: #14B884;
    padding: 20px 0 30px 0;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Two-column layout */
.col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
}


/* style inputs and link buttons */
input, .btn { 
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

input:hover, .btn:hover { opacity: 1; }

/* add appropriate colors to fb, twitter and google buttons */

.fb { background-color: #3B5998; }

.twitter { background-color: #55ACEE; }

.google { background-color: #dd4b39; }

.fb, .twitter, .google, input[type=submit] { color: white; }

/* style the submit button */
input[type=submit] {
    background-color: coral;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* vertical line */
.vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 200px;
}

/* text inside the vertical line */
.vl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
}

/* bottom container */
.bottom-container {
    text-align: center;
    background-color: #666;
    border-radius: 0px 0px 4px 4px;
    width: 1200px;
    margin: auto;
}





















