body {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

#fullbanner {
    background: url(../img_lights_wide.jpg);
    background-size: cover;
    width: 100%;
    height: 50vh;
}

.transparentmenu {
    position: absolute;
    top: 0;
    width: 100%;
}

.transparentmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #888;
}

.active {
  background-color: #04AA6D;
}
