@font-face {
    font-family: myFirstFont;
    src: url(mulish/static/Mulish-Regular.ttf);
}

@font-face {
    font-family: mySecondFont;
    src: url(spacemono/SpaceMono-Regular.ttf);
}


body {
    font-family: myFirstFont;
    font-size: 16px;
}

h3 {
    font-family: mySecondFont;
}

p {
    line-height: 1.6;
}